{% extends "layout/auth-layout.html" %}

{% block content %}

<div class="card-body p-4 p-sm-5 card-text text-center">
                        <div class="lh-1">
                            <h2 class="fs-1 fw-bold text-danger">500</h2>
                        </div>
                        <div class="mb-0 fw-bold">
                            Whoops, something went wrong!
                        </div>
                        <hr>
                        <p>
                            Try refreshing the page, or going back and attempting the action again.
                        </p>
                        <a class="btn btn-danger" href="#">
                            Refresh
                        </a>
                    </div>
    
{% endblock %}